apiVersion: apps/v1
kind: Deployment
metadata:
  name: tekmek-cart-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cart
  template:
    metadata:
      labels:
        app: cart
    spec:
      containers:
        - name: cart
          image: quazmo/tekmek-cart
          resources:
            limits:
              memory: 256Mi
              cpu: 1
            requests:
              memory: 256Mi
              cpu: 1
---
apiVersion: v1
kind: Service
metadata:
  name: tekmek-cart-clusterip-service
spec:
  selector:
    app: cart
  ports:
    - name: cart
      protocol: TCP
      port: 5245
      targetPort: 5245
